{% extends "base.html" %}
{% block content %}


   <div id="main-container" style="height: 100vh;)">
      <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by genre
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
     {% if genres %}
     {% for genre in genres %}
    <li><a href="{{url_for('webcontroller .filtershow', genreid=genre.id) }}">{{genre.genre}}</a></li>
     {% endfor %}
     {% endif %}
  </ul>
</div>
       <div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm" action="{{ url_for('webcontroller .searchshow') }}" method = "POST">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" name="searchstr" id="searchstr" type="search" placeholder="Search by title">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
      {% if userhistory %}
      <h1> Jump back into </h1>
      <div class="row">
      {% for show in userhistory %}
         <div class="column">
            {% if show.genre_id == 1 %}
               <img src='../static/images/scary.jpg'>
            {% elif show.genre_id == 2 %}
               <img src='../static/images/adventure.jpg'>
            {% else %}
               <img src='../static/images/comedy.jpg'>
            {% endif %}
            <a href = "{{url_for('webcontroller .movieshow', movieshowid=show.id) }}">{{show.title}}</a>
         </div>
      {% endfor %}
      </div>
      {% endif %}
      {% if catalog %}
      <h1> Browse</h1>
      <div class="row">
      {% for show in catalog %}
         <div class="column">
            {% if show.genre_id == 1 %}
               <img src='../static/images/scary.jpg'>
            {% elif show.genre_id == 2 %}
               <img src='../static/images/adventure.jpg'>
            {% else %}
               <img src='../static/images/comedy.jpg'>
            {% endif %}
            <a href = "{{url_for('webcontroller .movieshow', movieshowid=show.id) }}">{{show.title}}</a>
         </div>
      {% endfor %}
      </div>

      {% endif %}

   </div>
<style>
        .column {
            float: left;
            width: 30%;

        }

        img {
            width: 80%;
            display: block;
        }
</style>
{% endblock %}