{% extends "base.html" %}
{% block content %}
   <div id="main-container" style="height: 100vh;)">
       <h1> Search results</h1>
        {% if searchresults %}
             {% for show in searchresults %}
         <div class="column">
            {% if show.genre_id == 1 %}
               <img src='../static/images/scary.jpg'>
            {% elif show.genre_id == 2 %}
               <img src='../static/images/adventure.jpg'>
            {% else %}
               <img src='../static/images/comedy.jpg'>
            {% endif %}
            <a href = "{{url_for('webcontroller .movieshow', movieshowid=show.id) }}">{{show.title}}</a>
         </div>
      {% endfor %}
       {% else %}
       <h1> No match has been found</h1>
       {% endif %}
   </div>
<style>
        .column {
            float: left;
            width: 30%;

        }

        img {
            width: 80%;
            display: block;
        }
</style>
{% endblock %}